* {
  scrollbar-width: thin;
  scrollbar-color: #525252 transparent;

  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}


*::selection {
  background-color: rgba(157, 89, 210, 1);
  /* Blue background for selected text */
  color: rgba(40, 40, 40, 1);
  /* Black text color for selected text */
}

html {
  background: linear-gradient(to bottom, rgb(253, 219, 0), rgb(238, 212, 143), rgb(255, 255, 255) 30%, rgb(255, 255, 255), rgb(255, 255, 255) 36%, rgb(212, 181, 222), rgb(156, 92, 212), rgb(88, 50, 96), rgb(0, 0, 0));
  --color-0: #fddb00;
  --color-1: #ffffff;
  --color-2: #9c5cd4;
  --color-3: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  background-color: #33333373;
  text-align: center;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  margin-bottom: -60px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}

.title {
  color: #e7e8e9;
  text-align: center;
  font-size: 110px;
}

.active {
  background-color: #4caf4f7c;
  border-radius: 25px;
}

/* Sociala medier */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

footer {
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  width: fit-content;
  background-color: #3333337a;
  color: #fff;
  padding: 20px;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }
}