.boby {
        width: 100%;
        padding: 20px;
        order: 1;
        display: none;
}

.menu-box input[type='radio']:checked+label+.boby {
        display: block;
        border-radius: 25px;
}

.menu-box input[type="radio"]:checked+label {
        background-color: #4caf4f79;
        border-radius: 25px;
}

.menu-box {
        border-radius: 25px;
        display: flex;
        margin-left: 321px;
        margin-right: 321px;
        background-color: rgba(40, 40, 40, 0.459);
        flex-wrap: wrap;
        margin-bottom: 2%;
        text-align: center;
}

.menu-box input[type="radio"] {
        display: none;
}

.menu-box label {
        padding: 8px;
        color: #fff;
        text-decoration: none;
}

.menu-box label:hover {
        background-color: #474747;
        border-radius: 25px;
}